:root {
    --bg: #14141a;
    --card-bg: #1e1e24;
    --accent: #f2b134;
    --accent-soft: rgba(242, 177, 52, 0.35);
    --text: #f2b134;
    --text-dim: #c9a25a;
}

header {
    background: var(--card-bg);
    justify-content: center;
    align-items: center;
    color: var(--text);
    height: 30%;

    border-radius: 100px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 10px;
}

header h1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;

    grid-column: 2;
    text-align: center;
}

header p {
    grid-column: 3;
    justify-self: end;
    padding-right: 10%;
}

body {
    background: var(--bg);
    padding: 10px 10px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

footer {
    background: var(--card-bg);
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text);
    border-radius: 100px;
}
